/* adoption-process.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ecebf6, #c9aee0);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

h2 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #333;
}

.adoption-form {
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
}

#adoption-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

#adoption-form label {
    margin-top: 10px;
    color: #35424a;
}

#adoption-form input[type=text],
#adoption-form input[type=email],
#adoption-form input[type=tel],
#adoption-form input[type=text],
#adoption-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#adoption-form input[type=submit] {
    margin-top: 20px;
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#adoption-form input[type=submit]:hover {
    background-color: #e65a4f;
}
